<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Requests List</title>
    <link th:href="@{/agentstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header th:replace="header :: header"></header>
<div class="main">
    <aside class="sidebar">
        <ul>
            <li><a th:href="@{/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/signup}">Create EndUser</a></li>
            <li><a th:href="@{/dashboard/alluserslist}">EndUsers List</a></li>
            <li><a th:href="@{/dashboard/bloodrequests}" class="active">Requests</a></li>
            <li><a th:href="@{/dashboard/bloodreport}">Blood Report</a></li>
            <li><a th:href="@{/dashboard/coinvalue}">Coin Value</a></li>
        </ul>
    </aside>

    <div class="container">
        <h2 class="text-center mb-4">User Requests List</h2>
        <form class="action-buttons" action="#" method="GET">
            <select id="filterOption" name="filterOption">
                <option value="select" selected>Select Options</option>
                <option value="byStatus">By Status</option>
                <option value="byUsername">By Username</option>
                <option value="createdBetween">Created Between</option>
            </select>
            <input type="text" id="usernameInput" name="input" placeholder="Enter.." style="display: none;">
            <input type="date" id="startDate" name="startDate" placeholder="Start Date" style="display: none;">
            <input type="date" id="endDate" name="endDate" placeholder="End Date" style="display: none;">
            <select id="statusSelect" name="status" style="display: none;">
                <option value="select">Select Status</option>
                <option value="accepted">Accepted</option>
                <option value="rejected">Rejected</option>
                <option value="pending">Pending</option>
            </select>
            <button type="submit">Filter</button>
        </form>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Request Id</th>
                <th>Name</th>
                <th>Blood Group</th>
                <th>Created By</th>
                <th>Quantity</th>
                <th>Type</th>
                <th>Created At</th>
                <th>DOB</th>
                <th>Age</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bloodStock : ${getBloodRequests}">
                <td th:text="${bloodStock.id}"></td>
                <td th:text="${bloodStock.name}"></td>
                <td th:text="${bloodStock.bloodGroup}"></td>
                <td th:text="${bloodStock.createdBy}"></td>
                <td th:text="${bloodStock.quantity}"></td>
                <td th:text="${bloodStock.type.toUpperCase()}"></td>
                <td th:text="${bloodStock.createdAt}"></td>
                <td th:text="${bloodStock.dob}"></td>
                <td th:text="${bloodStock.age}"></td>
                <td th:text="${bloodStock.status}"></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(getBloodRequests)}">
            <strong>No request found</strong>
        </div>
    </div>
</div>
<script>
    document.getElementById("filterOption").addEventListener("change", function() {
        var selectedOption = this.value;
        var usernameInput = document.getElementById("usernameInput");
        var startDateInput = document.getElementById("startDate");
        var endDateInput = document.getElementById("endDate");
        var statusInput = document.getElementById("statusSelect");

        if (selectedOption === "byUsername") {
            usernameInput.style.display = "inline-block";
            startDateInput.style.display = "none";
            endDateInput.style.display = "none";
            statusInput.style.display = "none";
        } else if (selectedOption === "createdBetween") {
            startDateInput.style.display = "inline-block";
            endDateInput.style.display = "inline-block";
            usernameInput.style.display = "none";
            statusInput.style.display = "none";
        } else if (selectedOption === "byStatus") {
            statusInput.style.display = "inline-block";
            startDateInput.style.display = "none";
            endDateInput.style.display = "none";
            usernameInput.style.display = "none";
        } else {
            startDateInput.style.display = "none";
            endDateInput.style.display = "none";
            usernameInput.style.display = "none";
            statusInput.style.display = "none";
        }
    });
</script>
<footer th:replace="footer :: footer"></footer>
</body>
</html>
