<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link th:href="@{/agentstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header th:replace="header :: header"></header>

<div class="main">
    <aside class="sidebar">
        <ul>
            <li><a th:href="@{/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/signup}" class="active">Create EndUser</a></li>
            <li><a th:href="@{/dashboard/alluserslist}">EndUsers List</a></li>
            <li><a th:href="@{/dashboard/bloodrequests}">Requests</a></li>
            <li><a th:href="@{/dashboard/bloodreport}">Blood Report</a></li>
            <li><a th:href="@{/dashboard/coinvalue}">Coin Value</a></li>
        </ul>
    </aside>

    <div class="main-body">
        <div class="signup-container">
                <span class="title">
                    <h2>User Registration</h2>
                </span>

            <div th:if="${successMessage}" class="alert alert-success">
                <strong th:text="${successMessage}"></strong>
            </div>

            <form th:action="@{/register}" method="post" id="signupForm">
                <label for="userName">Username:</label>
                <input type="text" id="userName" name="userName" required>

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="dob">DOB:</label>
                <input type="date" id="dob" name="dob" th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>

                <label for="bloodGroup">Blood Group:</label>
                <select id="bloodGroup" name="bloodGroup" required>
                    <option value="" disabled selected>Select Blood Group</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>

                <div th:if="${role eq 'AGENT'}">
                    <input type="hidden" id="password" name="password" value="abc">
                </div>
                <div th:unless="${role eq 'AGENT'}">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required>
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
</div>

<footer th:replace="footer :: footer"></footer>
</body>
</html>
